@font-face {
    font-family: 'museo';
    src: url('../fonts/museo.ttf'); /* IE9 Compat Modes */
    
    }


body, html{
    height: 100%;
}

body{  
    padding: 0; 
    margin: 0; 
    color: #333; 
    background-color: #EEE;
    font-family: 'museo';
    background: transparent url(img/background.png) repeat;
}

.container{
    width: 580px;
}

.intro{
    display:none;
    background: url(img/wallpaper.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0px 5px 15px #888;
}


.intro .photo{
    width:140px;
    height:140px;
    background: transparent url(img/background.png) repeat;
    border-radius: 999px;
    padding: 2px;
    margin: 10px auto 10px auto;
}


.intro .photo > .photo-inner{
    width:136px;
    height:136px;
    border-radius: 999px;
}


#menu{
    background: transparent;
    position: relative;
    display: block;
    overflow: hidden;
    margin:auto;
    padding: 35px 80px 0;
}

#menu.stick{
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: #fff;
}

#menu li{
   float: left;
    position: relative;
    list-style: none;
}

#menu li a{
    display: block;
    position: relative;
    padding: 3px 10px 3px;
    text-align: center;
    text-decoration: none;
    color: #565a5e;
    font-size: 16px;
    line-height: 1;
    text-shadow: 0 1px 0px #fff;
    outline: 0;
    border: 1px solid transparent;
    background: transparent;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.content{
    position: relative;
    background: #f7f7f7;
    display: block;
    margin: 40px auto 40px;
    padding: 20px 20px 30px;
    font-size: 16px;
    line-height: 26px;
    font-family: MuseoSansRounded-300,sans-serif;
    box-shadow: 0 1px 2px gray inset;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.content h1{
    font-family: museo;
font-size: 45px;
line-height: 55px;
margin: 0px 0 0px;
padding: 13px 20px 5px 17px;
-webkit-font-smoothing: subpixel-antialiased;
}

.content p{
    padding: 10px 20px 12px;
    margin: 0;
    word-spacing: 0.03em;
}

.content .label{
position: absolute;
color: #fff;
background-color: #333;
top: 50px;
left: -43px;
padding: 5px;
font-size: 12px;
font-family: museo;
border-radius-bottom: 0px;
-webkit-border-bottom-right-radius: 1px;
-webkit-border-bottom-left-radius: 1px;
-moz-border-radius-bottomright: 1px;
-moz-border-radius-bottomleft: 1px;
border-bottom-right-radius: 1px;
border-bottom-left-radius: 1px;
-ms-transform:rotate(270deg); /* IE 9 */
-webkit-transform:rotate(270deg); /* Chrome, Safari, Opera */
transform:rotate(270deg)
}